<ion-view title="Feed" id="page11" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="false" class="has-header has-footer">
		<div class="list">
			<a class="item item-avatar" href="#">
				<img src="img/default.png"/>
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"/>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
			 <a class="item item-avatar" href="#">
				<img src="img/default.png">
				<p>Upcoming</p>
				<h2>Barun Kumar Dey</h2>
				<p>has to take "Medication 3" in 15mins.</p>
				<p>Next dose is at 21:00 hrs</p>
				<div class="lefticon">
					<i class="ion-ios-telephone-outline"></i>
				</div>
				<div class="middleicon">
					<i class="ion-email"></i>
				</div>
				<div class="righticon">
					<img src="img/pic.png"></i>
				</div>
			 </a>
		</div>
	</ion-content>
</ion-view>