<ion-view title="" id="page5" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header has-footer">
		<div class="headlogo">
			<img src="img/logo1.png">
		</div>
		<div class="clr"></div>
		<div class="welcome">
			Welcome to the 
		</div>
		<div class="mytitle">
			Purple Health Network
		</div>
		<div class="mainlogo">
			<img src="img/Pic.png">
		</div>
		<div class="btnclass">
			<a ui-sref="signup" id="home-button2" class="button button-royal  button-block button-clear">Sign Up</a>
			<a ui-sref="login" id="home-button3" class="button button-royal  button-block button-clear">Login</a>
		</div>
    </ion-content>
</ion-view>