<ion-view title="Notifications" id="page12" style="background-color:#FFFFFF;">
    <ion-content overflow-scroll="true" padding="false" class="has-header has-footer">
		<div class="list">
			
			<a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
				
			</a>
			 <a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
			 </a>
			 <a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
			 </a>
			 <a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
			</a>
			 <a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
			 </a>
			 <a class="item item-avatar notificationavatar" href="#">
				<img src="img/default.png">
				<h2>Barun Kumar Dey</h2>
				<p>Would like to add you to his Purple Heart Network</p>
				<div class="" style="float:right">
					<i class="ion-checkmark-circled"></i>
					<i class="ion-close-circled"></i> 
				</div>
			 </a>
		</div>
	
	</ion-content>
</ion-view>