<ion-view title="Tabs Controller" id="page1">
    <ion-tabs class="tabs-royal ">
        <ion-tab title="profile" icon="ion-ios-contact" href="#/page1/profile">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="notifications" icon="ion-ios-copy" href="#/page1/notifications">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="friends" icon="ion-ios-people" href="#/page1/friends">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="calendar" icon="ion-android-calendar" href="#/page1/calendar">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>